<html>
  <head>
    <meta http-equiv="refresh" content="0; url={{target|safe}}" />
  </head>
  <body style="background-color: rgb(255, 188, 44);">
    <div style="margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);">
      Redirecting!
    </div>
  </body>
</html>